/* Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #FFFDD0;
    color: #333;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.library-icon {
    font-size: 80px;
    margin-bottom: 20px;
}

.greeting {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 1);
    /* Daha opak beyaz arka plan */
    padding: 20px;
    border-radius: 8px;
}

.greeting span {
    font-size: 1.5rem;
    color: #333;
    /* Koyu gri açıklama rengi */
}

.greeting ul {
    list-style-type: none;
    padding: 0;
}

.greeting li {
    font-size: 1.1rem;
    color: #555;
    /* Açık gri liste rengi */
    margin: 5px 0;
}

h2 {
    font-size: 1.5rem;
    color: #333;
    /* Koyu gri ikinci başlık rengi */
    text-align: center;
}