/* Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #3b3b2d6b;
    color: #333;
    height: 100vh;
    max-width: 1200px;
    /* Genişlik sınırı eklendi */
    margin: 0 auto;
    /* Ortalamak için */
}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.library-icon {
    font-size: 80px;
    margin-bottom: 20px;
}

.greeting {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(243, 243, 243);
    padding: 20px;
    border-radius: 8px;
    max-width: 100%;
    /* Genişlik sınırı 1200px'e uygun olacak */
    box-sizing: border-box;
    /* İçerik taşmasını engeller */
}

.greeting span {
    font-size: 1.5rem;
    color: #333;
}

.greeting ul {
    list-style-type: none;
    padding: 0;
}

.greeting li {
    font-size: 1.1rem;
    color: #555;
    margin: 5px 0;
}

h2 {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}